html{
    background-color: #f3f3f3;
}
body{
	background-image:url(../../img/fundo/bg-reserva-cliente.jpg);	
}

.form-reservao{
    max-width: 640px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
	-webkit-box-shadow: 10px 10px 24px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 24px -13px rgba(0,0,0,0.75);
box-shadow: 10px 10px 24px -13px rgba(0,0,0,0.75);
}

.form-reservao .form-row{
    text-align: left;
    margin-bottom: 22px;
}

.form-reservao .form-titulo-row{
    text-align: center;
    margin-bottom: 55px;
}

/* The form title */

.form-reservao h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 10px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.form-reservao .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    width: 180px;
    text-align: right;
    vertical-align: top;
    padding: 12px 25px;
}

.form-reservao input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px;
    border: 1px solid #dbdbdb;
}

.form-reservao input[type=radio],
.form-reservao input[type=checkbox]{
    box-shadow: none;
    width: auto;
}

.form-reservao input[type=checkbox]{
    margin-top: 13px;
}

.form-reservao select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 8px;
    border: 1px solid #dbdbdb;
}

.form-reservao textarea{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 80px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
}

.form-reservao .form-radio-buttons{
    display: inline-block;
    vertical-align: top;
}

.form-reservao .form-radio-buttons > div{
    margin-top: 10px;
}

.form-reservao .form-radio-buttons label span{
    margin-left: 8px;
    color: #5f5f5f;
    font-weight: normal;
}

.form-reservao .form-radio-buttons input{
    width: auto;
}

.form-reservao button{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 40px 183px 0;
}

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

    .form-reservao{
        padding: 30px;
        max-width: 480px;
    }

    .form-reservao .form-row{
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }

    .form-reservao .form-titulo-row{
        margin-bottom: 50px;
    }

    .form-reservao .form-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }

    .form-reservao select{
        width: 240px;
    }

    .form-reservao input[type=checkbox]{
        margin-top:0;
    }

    .form-reservao .form-radio-buttons > div{
        margin: 0 0 10px;
    }

    .form-reservao button{
        margin: 0;
    }

}
